<!doctype html>

<html>
<head>
	<title>Alerts</title>	
	<meta charset="utf-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  	<link rel="stylesheet" href="/css/introHCI.css">
  	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
 	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 	<script src="/js/jquery.ui.touch-punch.min.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
  	<script src="/js/introHCI.js"></script>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<style>
      #map_canvas {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var myLatlng = new google.maps.LatLng({{latitude}}, {{longitude}});
        var map_options = {
          center: myLatlng,
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)

        var marker = new google.maps.Marker({
		      position: myLatlng,
		      map: map,
		      title: 'Hello World!'
		  });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
            
</head>

<body>
	<div class="container">
		<div style="width: 100%; float: left; margin: 20px;">

	    	<a href="{{backURL}}" class="btn btn-primary btn-lg btn-text"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>

			<a href="/" class="btn btn-primary btn-lg btn-text btn-home"><i class="glyphicon glyphicon-home"></i> Home</a>  
		</div>
		<div align="center" style="width: 100%; float left; margin: 20px;">
			<h1 style="font-size: 50px; display: none;" id="venue-title">{{venue}}</h1>
			<img src="{{imageURL}}" class="img"/><br/>
			<p style="font-size: 36px;">Status: {{status}}</p>
			<!--<h2>"{{description}}"</h2>-->
			<!--<h3><span>Category: </span><span id="venue-category">{{category}}</span></h3>-->
			<!--<h3>{{hours}}</h3>-->
			{{#if favorited}}
				<p style="font-size: 28px;" id = "venue-is-favorited"><i class="glyphicon glyphicon-star"></i> Favorited <i class="glyphicon glyphicon-star"></i></p>
			    <a class="btn btn-primary btn-lg btn-text" id = "venue-remove-fave">Remove from Favorites</a>
		    {{else}}
		    	<p style="font-size: 28px; display:none;" id = "venue-is-favorited"><i class="glyphicon glyphicon-star"></i> Favorited <i class="glyphicon glyphicon-star"></i></p>
		        <a class="btn btn-primary btn-lg btn-text" id = "venue-add-fave"><i class="glyphicon glyphicon-star"></i> Add to Favorites</a>
		    {{/if}}
			
		</div>

		
		<div class="col-sm-4" align="center" style="width: 100%; float left; margin: 20px;">			
			<div class="list-group" align="center" id="home-alerts">				
				{{#each specific_alert}}
				<div class = "alertDiv">
					<div class="alert alert-{{severity}} venue-alert">					
						<div class = 'alert-venue-subtitle'>"{{alert}}"</div>
						<p class = 'alert-timestamp italic'>{{pretty_timestamp}}</p>
						<!--<p class = 'alert-timestamp italic'>{{status}}</p> -->
					</div>
					<a class="btn btn-primary btn-text alert-resolved"><i class="glyphicon glyphicon-remove"></i> Permanently Remove Alert</a>
				</div>
				{{/each}}
				<hr/>
				<a href="/addalerts/{{venue}}" class="btn btn-primary btn-lg btn-text"><i class="glyphicon glyphicon-flash"></i> Add an Alert</a>
				
			</div>
			
		</div>
		
		
		
		<div align="center">
			<p style="font-size: 28px;">{{address}}</p>
			<p style="font-size: 28px;">{{telephone}}</p>
			<a href={{website}} style="font-size: 28px;">{{venue}}: Website</a>
			<div id="map_canvas"></div>
		</div>


	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>