<!doctype html>

<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='82722669-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

	<title>Home</title>	
	<meta charset="utf-8">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="/css/introHCI.css">
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="" align="center">
		<div style="width: 100% float: right; margin: 50px;"> 
			<a href="/" class="btn btn-primary btn-lg btn-text btn-home" id="help_button"><i class="glyphicon glyphicon-question-sign"></i> Help</a>  
		</div>
		<div class="alert alert-info" style="width: 80%; float: left; text-align: center;
    				vertical-align: middle; font-size: 28px; margin-top: 10px; display:none; "
    				id="home-help-info">
    		(tap to dismiss) <br/>
    		The homepage shows current alerts for venues you've listed as your favorites.  For example, I might want to know if a certain restaurant is overcrowded or has a great special.  As the community keeps each other up to date on the current status of venues, we can keep businesses accountable.  Please look at the alerts below and when you are ready, answer the question at the bottom of the page.
    	</div>
		
		<div style="width: 100%; float: left; margin: 20px;">
			<h1 style = 'font-size: 80px'>Clutch</h1>
			<p style = 'font-size: 52px;'>"keep businesses accountable"</p>
		</div>

		<div style="width: 100%; float: left; margin: 20px;">
			<a href="/addalerts" class="btn btn-primary btn-lg btn-text-home" id = "addAlert"><i class="glyphicon glyphicon-flash"></i> Add an Alert</a>

			<a href="/categories" class="btn btn-primary btn-lg btn-text-home"><i class="glyphicon glyphicon-star"></i> Edit Favorites</a>

			<a href="/categories/explore" class="btn btn-primary btn-lg btn-text-home"><i class="glyphicon glyphicon-eye-open"></i> Explore Venues</a>
		</div>


		<div class="col-sm-4" align="center" style="width: 100%; float left; margin: 20px;">
			<div class="list-group" align="center" id="home-alerts" style="box-shadow: 0 1px 2px rgba(0,0,0,0.6);">			
			{{#if alerts.length}}
				<div style="margin: 20px; padding-top: 10px;">
					{{#if all}}
					<h1>Current Alerts: All</h1>					
					{{else}}
					<h1>Current Alerts: Favorite Venues</h1>					
					{{/if}}
				</div>	
				{{#each alerts}}
				<a href="/alerts/{{venue}}" class="btn btn-{{severity}} alert" >
					<div class = 'alert-venue'>{{venue}}</div>
					<div class = 'alert-subtitle'  >"{{alert}}"</div>
					<p class = 'alert-timestamp italic'>{{pretty_timestamp}}</p>
					<!-- Will add closed or open tag here -->
					<!--<p class = 'alert-timestamp italic'>{{status}}</p>-->
				</a>
				{{/each}}
			{{else}}
				{{#if all}}
					<div style="width: 100%; float: left; margin: 20px;">
						<h1>No Current Alerts</h1>					
					</div>
				{{else}}
					<div style="width: 100%; float: left; margin: 20px;">
						<h1>No Current Alerts for Favorites</h1>					
					</div>
				{{/if}}
			{{/if}}
			{{#if all}}
				<div style="width: 100%; float: left; margin: 0px;">
					<a href="/" class="btn btn-primary btn-lg btn-text">Alerts for Faves Only</a>				
				</div>

			{{else}}
				<div style="width: 100%; float: left; margin: 0px;">
					<a href="/?all=true" class="btn btn-primary btn-lg btn-text">View All Alerts</a>				
				</div>
			{{/if}}
			<p style="font-size: 40px;"><u>Legend</u><br/>
						<span style="color: #C12E2A">Severe Issue</span> </br/> 
						<span style="color: #419641">Compliment</span></br/>
						<span style="color: #E38D13">Minor Issue</span> </br/>
						<span style="color: #428BCA">Useful Information</span> </br/>
						
			</p>
			</div>
			
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48471805-1', 'cs147glance.herokuapp.com');
	  ga('send', 'pageview');

	</script>

</body>
</html>

