<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Venues: {{category}}</title>
  
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/css/introHCI.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/js/jquery.ui.touch-punch.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>  
  
  
</head>
<body style = "margin: 40px;">
<div class = "container">
  <div style="width: 100% float: left; margin: 20px;"> 
    
    <a href="/categories/explore" class="btn btn-primary btn-lg btn-text"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <a href="/" class="btn btn-primary btn-lg btn-text btn-home" ><i class="glyphicon glyphicon-home"></i> Home</a>  
  </div>

  <div style="width: 100% float left; text-align: center;
  vertical-align: middle; font-size: 45px; margin: 10px; margin-bottom: 15px;"> Venues: {{category}} </div>
  <div style="width: 100% float left; text-align: center;
  vertical-align: middle; font-size: 28px; margin: 10px; margin-bottom: 15px;"> Click on a logo for more details about that venue. </div>
  <div style="margin: 0 auto; width:95%; border:5px solid black; padding: 30px; font-size:24px;">
    <table cellpadding="8">
    {{#each data}}
    <tr>
    <td style="text-align: center;">
        <a href = "/alerts/{{name}}">
          <img class = "img-thumb" src="{{imageURL}}" alt = '' style="float:left; margin-right: 10px; ">
        </a>
    </td>
    <td style="display: none;">
      <a href = "/alerts/{{name}}">
        <div>{{name}}</div>
      </a>
    </td>
    <td>
      {{#if favorited}}
       <a class="btn btn-primary btn remove-faves-btn " style="width: 400px; font-size: 32px;">Remove from Favorites</a>
      {{else}}
        <a class="btn btn-primary btn add-faves-btn " style="width: 400px; font-size: 32px;"><i class="glyphicon glyphicon-star"></i> Add to Favorites</a>
      {{/if}}

    </td>
    </tr>

    {{/each}}
  </div>
  
</div>
 <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48471805-1', 'cs147glance.herokuapp.com');
    ga('send', 'pageview');

  </script>
 
</body>
</html>